.create-post{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-card-bg);
    border-radius: 4px;
    border: 1px solid var(--color-border);
    width: 90%;
    padding: 8px;
}

.create-post > *{
    flex: 1;
}

.create-post form > :first-child{
   display: flex;
}

.form-extend{
    display: none;
    position: relative;
}
 
.create-post input, .create-post textarea{
    background-color: var(--color-card-bg-clear);
    color: var(--color-grey);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    width: 100%;
    padding:  0 16px;
}

.create-post input:hover, .create-post textarea:hover{
    background-color: var(--color-card-bg);
    border: 1px solid var(--color-grey);
}

.create-post input{
    height: 38px;
}

.create-post textarea{
    margin: 4px 0;
}

.add-tag-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center ;
    margin: 4px 0;
}

.add-tag-container input{
    width: 160px;
    margin-right: 8px;
}

.add-tag-container button{
    background-color: var(--color-green);
    color: var(--color-dark);
    border-color: var(--color-dark);
}

.add-tag-container button:hover{
    background-color: var(--color-green);
    opacity: 0.9;
}

.tag-container{
    display: flex;
}

.tag-container button{
    background-color: var(--color-blue);
    color: var(--color-dark);
    border-color: var(--color-dark);
}

.tag-container button:hover{
    background-color: var(--color-red);
    opacity: 0.9;
    content: "X";
}

.tag-container button:hover::after{
    content: "X";
    color: var(--color-dark);
}

.form-extend-close{
    position: absolute;
    right: 0;
    bottom: 0;
    color: var(--color-pink);
    font-size: 2rem;
}

.form-extend-close:hover{
    cursor: pointer;
    opacity: 0.9;
}

.show-create-post {
    display: block;
}