.comment-card{
    padding: 16px 16px 0 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.comment-card-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.comment-card-header{
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.comment-card-header > p{
    font-size: 0.85rem;
    font-weight: 700;
}

.comment-card-header span{
    font-size: 0.7rem;
}

.comment-card-text{
    margin-left: 2vw;
    font-size: 1rem;
}

.comment-content-social{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    margin-left: 2vw;
}

.comment-content-social p{
    font-size: 0.8rem;

}

.comment-content-social .social-like, 
.comment-content-social .social-comment{
    flex: 0;
}

.comment-content-social .social-comment button,
.comment-content-social .social-like button{
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 4px;
}

.comment-content-social button{
    border: 0;
    background: 0;
}

.comment-content-social button:hover{
    background-color: var(--color-card-bg-clear);
}