.header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 49px;
    padding: 0 20px;
    gap: 8px;
    background-color: var(--color-card-header);
}

.header h1{
    font-size: 1.4rem;
}

.header > :last-child{
    margin-left: auto;
}

.nav-dropdown, .profile-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border-radius: 4px;
}

.nav-dropdown {
    min-width: 180px;
}

.profile-dropdown-header{
    height: 43px;
    display: flex;
    align-items: center;
    padding: 0 4px;
    border-radius: 4px;
    border: 1px solid var(--color-border);
}

.profile-dropdown-header img{
    height: 29px;
    border-radius: 9999px;
}

.profile-dropdown button {
    border: 0;
    background: 0;
    width: 100%;
    padding: 4px 8px;
}

.nav-dropdown-btn{
    height: 43px;
    border: 0;
    background: 0;
    width: 100%;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid var(--color-border);
}

.nav-dropdown-btn:hover, .profile-dropdown-btn:hover{
    background: 0;
}

.nav-dropdown-btn::after, .profile-dropdown-btn::after{
    content: "▼";
    margin-left: auto;
    font-size: 1.2rem;
    font-weight: 700;
    transform: scaleY(0.5);
}

.profile-dropdown-content button:hover {
    border: 0;
    border-radius: 0;
    background-color: var(--color-card-bg-clear);
}

.nav-dropdown-content, .profile-dropdown-content {
    height: 0;
    visibility: hidden;
    flex-direction: column;
    background-color: var(--color-card-header);
    border-radius: 4px;
    font-size: .8rem;
}

.nav-dropdown-content p {
    width: 100%;
}

.nav-dropdown-content a {
    display: block;
    padding: 0 0 0 16px;
    font-size: .9rem;
    width: 100%;
}

.nav-dropdown-content a:hover {
    background-color: var(--color-card-bg-clear);
}

.nav-dropdown-category{
   color: var(--color-pink);
   padding: 8px 4px;
   font-weight: 500;
   font-size: 10px;
}

.nav-dropdown-follow{
    padding: 0 16px;
    border: 8px;
    font-weight: 500;
    font-style: italic;
    font-size: 10px;
}

.show {
    position: absolute;
    height: max-content;
    visibility: visible;
    padding: 0 0 8px 0;
    top: 40px;
    width: 100%;
    border-radius: 0 0 4px 4px;
    border-left: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
}
