.post{
    display: flex;
    background-color: var(--color-card-bg);
    border-radius: 4px;
    border: 1px solid var(--color-border);
    width: 90%;
}

.post:hover{
    border: 1px solid var(--color-grey);
}

.post-sidebar{
    width: 48px;
    background-color: var(--color-post-sidebar);
    text-align: center;
    padding: 4px;
    border-radius: 4px;
}

.post-sidebar img{
    border-radius: 9999px;
    width: 80%;
}

.post-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 4px;
    gap: 4px;
}

.post-content-bot{
    display: flex;
    align-items: flex-end;
    font-size: 0.8rem;
    font-style: italic;
    gap: 8px;
    padding: 8px 0;
}

.post-content-bot span{
    font-size: 0.7rem;
}

.post-content-top{
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 700;
}

.post-content-text{
    font-size: 0.9rem;
    white-space: pre-line;
}

.post-content-top .pill{
    height: 18px;
    font-size: 0.8rem;
}

.post-content-bot button{
    height: 24px;
    background-color: var(--color-grey);
    color: var(--color-dark);
    margin-left: auto;
}

.post-content-bot button:hover{
    background-color: var(--color-grey);
    opacity: 0.9;
}